<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Consultas</title>
    <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">
  </head>

  <body>

    <nav class="nav-nav">
      <a href="/" class="nav-link">Inicio</a>
      <a href="careers" class="nav-link">Carreras</a>
      <a href="surveys" class="nav-link">Test</a>
    </nav>

    <div id='container'>
    <h4> ¿Quieres saber si tu carrera es comun entre la gente que realiza nuestro test?</h4>
    <h4> averiguemoslo juntos con solo unos pocos datos: </h4>

   
		<form action="/inquiries" method="POST">
	   <div>
    <label form="begin_date">Fecha Inicio</label>
		<input required type="date" name="begin_date" value="<%= @begin_date %>" >
		</div>

    <div>
    <label form="end_date">Fecha Final</label>
		<input required type="date" name="end_date" value="<%= @end_date %>" >
    </div>
    <div>
    <label form="select-career">Seleccione Carrera</label>
    <select name="select_career">
        <% @careers.map do |career| %>
          <% if (career.id == @select_career) %>
            <option value= <%=career.id %> selected > <%= career.name %>   </option>
          <% else %>
           <option value= <%=career.id %> > <%= career.name %>   </option>
          <% end %>
          
        <% end %>  
    </select>
    </div>
			<a href="responses"><input type='submit' value = 'Buscar' id="inquires-input"></a>
		</form>

    <br/>
    <% if @result %>
     El resultado de la busqueda es:  <%= @result %>
    <% end %>
    </div>
    

    

  </body>
</html>