<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Preguntas</title>
    <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">	
</head>
<body >

	<nav class="response-menu">
      <a href="/" class="nav-link">Inicio</a>
      <a href="careers" class="nav-link">Carreras</a>
      <a href="surveys" class="nav-link">Atrás</a>
    </nav>	

	<div class="response-message">
		<p> ¡ <%= @last_survey.username.upcase %>, todas las preguntas deben ser 
			respondidas y solo se admite una respuesta por pregunta! </p>
	</div>

	<div>
		<form action='/responses' method='POST'>
			<ul>
				<% @questions.map do |question| %> 
				<li id="ques" class="responses-question"> 
					<b><%= question.description %><br></b>
					<ul>
						<% question.choices.map do |choice| %> 
						<i><input required type='radio' name='<%= question.id%>' value='<%= choice.id %>' >
							 <%= choice.text %><br></i>
						<% end %>
						<input type='hidden' name='question_id[]' value='<%= question.id %>'>
					</ul>
					<% end %>
				</li>
			</ul>
			<input type='hidden' name='survey_id' value='<%= @user.id %>'>
			<input type = 'submit' value = 'Enviar respuestas' class="response-submit">
		</form> 
	</div>

</body>
</html>

