<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Preguntas</title>
    <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">	
</head>
<body >
	<nav style="text-align:center;
    			display: flex;
    			justify-content: center;
				margin-bottom: 5rem;
				font-size:25px;">
      <a href="/" class="nav-link">Inicio</a>
      <a href="careers" class="nav-link">Carreras</a>
      <a href="surveys" class="nav-link">Atrás</a>
    </nav>	
	<div>
		<form action='/responses' method='POST'>
			<ul>
				<% @questions.map do |question| %> 
				<li id="ques" style="
								color: var(--color-main);
								border: 2px solid var(--color-main);
								padding:12px;
								list-style: none;
								margin:8px;
								margin-right:50rem;
								border-radius: 20px;"> 
					<b><%= question.description %><br></b>
					<ul>
						<% question.choices.map do |choice| %> 
						<i><input required type='radio' name='<%= question.id%>' value='<%= choice.id %>' > <%= choice.text %><br></i>
						<% end %>
						<input type='hidden' name='question_id[]' value='<%= question.id %>'>
					</ul>
					<% end %>
				</li>
			</ul>
			<input type='hidden' name='survey_id' value='<%= @user.id %>'>
			<input type = 'submit' value = 'Enviar respuestas' style="padding:5px;
    															background-color:none;
																text-decoration: none;
																border-radius: 12px;
																color: var(--color-main);
																border: 2px solid var(--color-main);
																font-size: 29px;
																box-shadow: var(--shadow-def);
																text-decoration: none;
																margin-left:24rem">
		</form> 
		</div>
</body>
</html>

