<div class="response-message">
	<p> ยก <%= @last_survey.username.upcase %>, todas las preguntas deben ser 
		respondidas y solo se admite una respuesta por pregunta! </p>
</div>

<div>
	<form action='/responses' method='POST'>
		<ul>
			<% @questions.map do |question| %> 
			<li id="ques" class="responses-question"> 
				<b><%= question.description %><br></b>
				<ul>
					<% question.choices.map do |choice| %> 
					<i><input required type='radio' name='<%= question.id%>' value='<%= choice.id %>' >
						 <%= choice.text %><br></i>
					<% end %>
					<input type='hidden' name='question_id[]' value='<%= question.id %>'>
				</ul>
				<% end %>
			</li>
		</ul>
		<input type='hidden' name='survey_id' value='<%= @user.id %>'>
		<input type = 'submit' value = 'Enviar respuestas' class="response-submit">
	</form> 
</div>

